<div class="row">

  <div class="col-sm-6" *ngIf="studentSelected">
    <div class="row">
      <div class="mr-auto">
        <app-title [title]="(studentSelected.nameStudent === '' ? 'Novo Aluno' : 'Aluno Selecionado: ' + studentSelected.nameStudent)"></app-title>
      </div>
      <div class="mt-1">
        <button class="btn btn-sm btn-outline-danger" (click)="return()">
          Fechar
        </button>
      </div>
    </div>

    <form [formGroup]="studentForm" (submit)="studentSubmit()">
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" formControlName="nameStudent" class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Sobrenome</label>
        <input type="text" formControlName="lastName" class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Matrícula</label>
        <input type="text" formControlName="enrollment" class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Data de Matrícula</label>
        <input type="text" formControlName="date_enrollment" class="form-control">
      </div>

      <div class="form-group">
        <hr>
        <button class="btn btn-success" [disabled]="!studentForm.valid">Enviar</button>
      </div>
    </form>
  </div>

  <div [ngClass]="{'col-sm-6': studentSelected, 'col-sm-12': !studentSelected}">
    <app-title [title]="'Alunos'"></app-title>
    <button class="btn btn-success" (click)="newStudent()">
      Cadastrar Aluno
    </button>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Visualizar</th>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Matrícula</th>
          <th scope="col">Data de Matrícula</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td><button (click)="studentSelect(student)" class="text-dark btn btn-sm btn-outline-warning"
              style="cursor: pointer;">Detalhe</button></td>
          <td scope="row">{{student.idStudent}}</td>
          <td>{{student.nameStudent}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.enrollment}}</td>
          <td>{{student.date_enrollment}}</td>
          <td>
            <div class="btn-group">
              <button (click)="openModal(template)" class="btn btn-sm btn-outline-primary">Professores</button>
              <button class="btn btn-sm btn-outline-danger">Remover</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #template>
  <div class="modal-body">
    <app-component-teacher></app-component-teacher>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-right btn-danger" aria-label="Close" (click)="modalRef?.hide()">
      FECHAR
    </button>
  </div>
</ng-template>
