<div>
  <input type="text" [(ngModel)]="textSimple">
  <p>{{textSimple}}</p>
</div>

<div *ngIf="itemSelected">
  <div class="row">
    <div class="me-auto col-sm-6 mt-1">
      <app-title [title]="'Item selecionado: ' + itemSelected.name"></app-title>
    </div>
    <div>
      Gráfico 1
    </div>

    <div>
      Gráfico 2
      <!-- criar um componente pra cada, chart js -->
    </div>
  </div>
  <form [formGroup]="itemForm">
    <div class="form-group mt-3">
      <label for="formGroupExampleInput">Nome</label>
      <input type="text" formControlName="name" class="form-control" id="fromGroupExampleInput">
      <!-- value="{{itemSelected.name}}"  -->
    </div>
    <div class="form-group mt-3">
      <label for="formGroupExampleInput2">Quantidade</label>
      <input type="text" formControlName="qtd" class="form-control" id="fromGroupExampleInput">
      <!-- value="{{itemSelected.qtd}}" -->
    </div>
    <div class="btn-group mt-3">
      <hr>
      <button type="button" class="btn btn-sm btn-outline-success" [disabled]="!itemForm.valid"
        (click)="itemSubmit()">Atualizar</button>
      <button class="btn btn-sm btn-outline-warning ml-1" (click)="return()">Voltar</button>
    </div>
  </form>

</div>

<div *ngIf="!itemSelected">
  <app-title [title]="'Mercado'"></app-title>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Preço</th>
        <th scope="col">Total</th>
        <th scope="col">Anunciado em</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products" style="cursor: pointer;">
        <th scope="row" (click)="itemSelect(prod)">{{prod.id}}</th>
        <td (click)="itemSelect(prod)">{{prod.name}}</td>
        <td (click)="itemSelect(prod)">{{prod.qtd}}</td>
        <td (click)="itemSelect(prod)">R$: {{prod.price}}</td>
        <td (click)="itemSelect(prod)">R$: 0,00</td>
        <td (click)="itemSelect(prod)">{{prod.date}}</td>
        <td>
          <button (click)="openModal(template)" class="btn btn btn-outline-info btn-sm">Fazendas</button>
          <button class="btn btn-outline-danger btn-sm">Remover</button></td>
      </tr>
    </tbody>
  </table>
</div>


<ng-template #template>
  <div class="modal-body">
    <app-component-farm></app-component-farm>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-right btn-danger" aria-label="Close" (click)="modalRef?.hide()">
      FECHAR
    </button>
  </div>
</ng-template>
